doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')

            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')

            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')

            title Natours | #{title}
    head
    body
        // HEADER
        include header

        // CONTENT
        block content

        // FOOTER
        include footer

        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js')
        //- script(src='/js/mapbox.js')
        //- script(src='/js/login.js')
        script(src='/js/bundle.js')
